.page-title-area {
  background-image: url('/assets/img/ayurveda_Yoga/Ayurveda\ Shirodara-vv1.00.jpg');
}

.galleryTittle {
  background-image: url('/assets/img/rooms/rooms-3.jpg');
}

.gallery-image {
  background-image: url('/assets/img/rooms/rooms-1.jpg');
}
