.page-title-area {
  background-image: url('/assets/img/ayurveda_Yoga/Ayurveda\ Shirodara-vv1.00.jpg');
}

.galleryTittle {
  background-image: url('/assets/img/rooms/rooms-3.jpg');
}

.gallery-image {
  background-image: url('/assets/img/rooms/rooms-1.jpg');
}

.bookTable {
  background-image: url("../img/bookTable/5a707f4e46a2886d018b4569.jpeg");
}
